<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create message</title>
   <style>
       h1{
           text-align: center;
           color:green;
       }
       img{
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 50%;
        }
   </style>
</head>
<body>
    <h1>Ваша запись была добавлена успешно</h1>
    <img src="https://static5.depositphotos.com/1011646/443/i/600/depositphotos_4434811-stock-photo-check-mark.jpg">
</body>
</html>