<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Delete message </title>
    <style>
        h1{
            text-align: center;
            color:red;
        }
        img{
           display: block;
           margin-left: auto;
           margin-right: auto;
           width: 50%;
         }
    </style>
</head>
<body>
    <h1> Ваша запись была удалена</h1>
    <img src="https://atlas-content-cdn.pixelsquid.com/stock-images/delete-symbol-no-entry-KaEoWR9-600.jpg">
</body>
</html>